@import "tailwindcss";
@import "tw-animate-css";

html {
    font-size: calc(100vw / 1440 * 10);
    line-height: 1;
    scroll-behavior: smooth;

    @media (max-width: 550px) {
        font-size: 10px;
    }

    @media (max-width: 375px) {
        font-size: calc(100vw / 375 * 10);
    }
}

@font-face {
    font-family: 'ClashDisplay Bold';
    src: url('./assets/fonts/ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue Regular';
    src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@theme {
    /* Colors */
    /* Background */
    --color-bg-primary: #feeed5;

    /* Text */
    --color-gray-gr: #bebbbb;
    --color-sh-brown: #f0742c;
    --color-sh-yellow: #eccf34;
    --color-sh-green: #cdea76;
    --color-sh-purple: #a389ed;
    --color-sh-clay: #ffcb7f;
    --color-sh-pink: #ffb2f0;
    --color-sh-black: #222419;
    --color-sh-blue: #95bef2;
    --color-sh-white: #ffffff;


    /* Font */
    --font-bebas: 'BebasNeue Regular', sans-serif;
    --font-clashDisplay: 'ClashDisplay Bold', sans-serif;

    /* Breakpoints */
    --breakpoint-sm: 480px;
}

::-webkit-scrollbar {
    width: 5px;
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-sh-black);
    height: 0.5rem;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
    background: none;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-sh-black);
  font-family: var(--font-geist-mono);
}

button {
    cursor: pointer;
}

.font-sans {
    font-family: var(--font-geist-sans);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}